main {
    width: 100vw;
  }
  
  #dialog::backdrop{
    background-color: rgb(0 0 0 / .5);
  }
  
  #dialog{
    border:none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 /.3);
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50rem;
    height:30rem;
    transition: 2;
  }
  
  .contact {
    width: 100vw;
    max-height: auto;
    background-color: rgb(255, 255, 255);
  }
  
  .about {
    width: 100vw;
    max-height: auto;
    background-color: rgb(241, 255, 238);
  }
  
  .principal {
    width: 100vw;
    min-height: 30rem;
    max-height: auto;
    background-color: rgb(156, 224, 135);
  }
  
  .card-image {
    max-height: 9rem;
  }
  
  .card-descricao {
    text-align: justify;
  }
  
  .card-button {
    height: 3rem;
  }
  
  .cards {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .card-body {
    margin-top: 0 !important;
    align-items: self-end;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    max-height: auto;
    width: 250px;
  }
  
  .descrip {
    color: rgb(128, 128, 128);
  }
  
  .about-us {
    margin-left: 5rem;
    width: 573px;
  }
  
  .somos {
    width: 335px;
  }
  
  .contato {
    width: 300px;
  }
  
  .zap-button {
    width: 200px;
  }
  
  .linkzap {
    text-decoration: none;
  }